<div class="container mt-5">
  <h2>Mes Réservations</h2>
  <div *ngFor="let booking of bookings" class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ booking.Car.name }}</h5>
      <p class="card-text">Prix par jour: {{ booking.Car.pricePerDay }} EUR</p>
      <p class="card-text">Nombre de sièges: {{ booking.Car.numberOfSeat }}</p>
      <p class="card-text">Date de début: {{ booking.startDate | date:'fullDate' }} à {{ booking.startDate | date:'shortTime' }}</p>
      <p class="card-text">Date de fin: {{ booking.endDate | date:'fullDate' }} à {{ booking.endDate | date:'shortTime' }}</p>
      <p class="card-text">Durée: {{ booking.duration }} jours</p>
      <p class="card-text">Prix total: {{ booking.totalPrice }} EUR</p>
    </div>
  </div>
</div>   