<div class="d-flex flex-column justify-content-center align-items-center">
  <h1>Welcome to Car Rental Service</h1>
  <p>Your go-to solution for renting cars easily and quickly.</p>

  <app-search-bar class="w-100"></app-search-bar>

  <div class="w-100 mt-5">
    <img src="https://img.freepik.com/vecteurs-libre/illustration-voiture-ete-dessinee-main_23-2149438387.jpg?t=st=1720974488~exp=1720978088~hmac=e5e0ceecb88833a4dfbf3cb547f75bf502e2695f62efcb7ef67f274010704248&w=1380" alt="Promotional Image">
  </div>

  <div class="promotions">
    <h2>Special Promotions</h2>
    <ul>
      <li>Discounted rates for weekend rentals!</li>
      <li>Special offers for long-term rentals!</li>
      <li>Get a free day for every week you rent!</li>
    </ul>
  </div>

  <div class="about-us">
    <h2>About Us</h2>
    <p>We provide a wide range of cars for rent, from compact cars to luxury vehicles. Our goal is to make your car rental experience as smooth as possible.</p>
  </div>
</div>