<div class="container mt-5" *ngIf="booking">
  <h2>Paiement</h2>
  <div class="card mb-3">
    <div class="card-img-container">
      <img [src]="booking.car.picture" class="card-img-top" alt="{{ booking.car.name }}">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ booking.car.name }}</h5>
      <p class="card-text">Prix par jour: {{ booking.car.pricePerDay }} EUR</p>
      <p class="card-text">Nombre de sièges: {{ booking.car.numberOfSeat }}</p>
      <p class="card-text">Date de début: {{ booking.startDate | date:'fullDate' }} à {{ booking.startDate | date:'shortTime' }}</p>
      <p class="card-text">Date de fin: {{ booking.endDate | date:'fullDate' }} à {{ booking.endDate | date:'shortTime' }}</p>
      <p class="card-text">Durée: {{ booking.duration }} jours</p>
      <p class="card-text">Prix total: {{ booking.totalPrice }} EUR</p>
      <button class="btn btn-primary" (click)="proceedToPayment()">Confirmer et Payer</button>
    </div>
  </div>
  <div *ngIf="!booking.startDate || !booking.endDate">
    <p>Les informations de réservation sont incomplètes. Veuillez retourner à la page de recherche.</p>
  </div>
</div>
